:root {
    --primary-color: #055a05;
    /* --secondary-color: #f4a261; */
    --accent1-color: #264653;
    /* --accent2-color: #e9c46a; */
    --heading-font: "Arial", "Times New Roman", serif;
    --body-font: "Arial", "Times New Roman", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

.hero {
    position: relative;
    min-height: 66px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    width: 90%;
    /* text-align: center; */
    padding: 8px;
    /* background-color: rgba(var(--accent1-color), 1.0); */
    background-color: rgba(109, 100, 237, 0.6);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

main {
    width: 840px;
    margin: 0 auto;
}

header {
    width: 840px;
    margin 0;
}

footer {
    margin: 0;
    width: 100%;
}

h1 h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

section h2 {
    width: 100%;
    background-color: rgba(109, 100, 237, 0.6);
    color: white;
    text-align: center;
    font-family: var(--heading-font);
    font-size: xx-large;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    text-decoration: none;
    max-width: 66px;
    height: auto;
}