/* From https: //developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Styling_web_forms */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset {
    display: block;
    min-inline-size: min-content;
    margin-inline: 2px;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
}

legend {
    display: block;
    unicode-bidi: isolate;
    padding-inline: 2px;
}

/* End of "from" (the above website) */