*,
*::before,
*::after {
    box-sizing: border-box;
}

main {
    width: 700px;
    margin: 0 auto;
    background-color: lightgray;
    padding: 1.25em;
}

fieldset {
    /* display: grid; */
    border: 5px solid #da1f1f;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #1007a8;
    padding: 0 10px;
}

input,
select,
textarea {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

input :focus,
select :focus,
textarea :focus {
    outline: 3px solid #6f0303;
}

.code {
    background-color: rgb(31, 2, 2);
    color: whitesmoke;
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0;
}

.number {
    font-weight: bold;
    font-size: 2em;
    color: purple;
    font-style: italic;
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: darkgreen;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}