:root {
    --box-shadow-color: darkblue;
    --background-color: darkblue;
    --aside-color: aquamarine;
    --standard-padding: 1rem;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: var(--standard-padding);
    box-shadow: 10px 10px var(--box-shadow-color);
}

aside {
    width: 20rem;
    margin: var(--standard-padding);
    border: 1px rgb(0 0 0 / .2);
    padding: var(--standard-padding);
    background-color: brown;
    color: var(--aside-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: var(--standard-padding);
    border-top: var(--standard-padding) solid#000;
    text-align: center;
}