* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    color: lightblue;
    box-shadow: 0 0 30px black;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    margin: 2em 0;
    background-color: lightgray;
    padding: 1em;
}

section h2 {
    text-align: left;
    border-bottom: solid #000 1px;
}

footer {
    background-color: black;
    padding: 1em;
    text-align: center;
    color: white;
}